.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:100vw;
    min-height: 100vh;
    max-height: max-content;
    
}

